In [2]:
#Q no 1
print('''Twinkle,Twinkle, little star,
        How I wonder what you are!
                Up above the world so high,
                Like a diamond in the sky.
Twinkle,Twinkle, little star,
        How I wonder what you are.''')

Twinkle,Twinkle, little star,
        How I wonder what you are!
                Up above the world so high,
                Like a diamond in the sky.
Twinkle,Twinkle, little star,
        How I wonder what you are.

In [6]:
#Q no 2
import sys
print(sys.executable)
print(sys.version)

C:\Users\Sara Atif\anaconda3\python.exe
3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [7]:
#Q no 3
from datetime import datetime
now = datetime.now();
print (now.strftime("%Y-%m-%d %H:%M:%S"))

2021-10-24 14:42:18

In [15]:
#Q no 4
r=int(input("Enter of the radius "))
PI = 3.14;
Area = PI * r * r
print("Area of circle is %.2f" %Area)

Enter of the radius 10
Area of circle is 314.00

In [16]:
#Q no 5
name1 = input("Input your First Name : ")
name2 = input("Input your Last Name : ")
print ("Hello  " + name1 + " " + name2)

Input your First Name : Sara
Input your Last Name : Atif
Hello  Sara Atif

In [18]:
#Q no 6
number1 = int(input("Enter first number : "))
number2 = int(input("Enter second number : "))
print(number1 + number2 )

Enter first number : 25
Enter second number : 35
60

In [24]:
#Q no 7

Eng = int(input("Enter marks of English : "))
Urdu = int(input("Enter marks of Urdu : "))
Math = int(input("Enter marks of Math : "))
Isl = int(input("Enter marks of Isl : "))
Sci = int(input("Enter marks of Sci : "))
ob_marks = Eng+Urdu+Math+Isl+Sci;
Total_marks = 500;
per = (ob_marks/Total_marks)*100
if per < 100 and per >=80:
    print("Grade A+")
elif per < 80 and per >= 70:
    print("Grade A")
elif per < 70 and per >= 60:
    print("Grade B")
elif per < 60 and per >= 50:
    print("Grade C")
else:
    print("Fail")

Enter marks of English : 77
Enter marks of Urdu : 82
Enter marks of Math : 95
Enter marks of Isl : 92
Enter marks of Sci : 75
Grade A+

In [25]:
#Q no 8
num = int(input("Enter a number: "))  
if (num % 2) == 0:  
   print("{0} is Even number".format(num))  
else:  
   print("{0} is Odd number".format(num))

Enter a number: 78
78 is Even number

In [27]:
#Q no 9
List = ["Sara" , "Bilal" , 7,0.3,False]
print("Number of elements of the list is ", len(List))

Number of elements of the list is  5

In [28]:
#Q no 10

List = [25,42,10,9,75];
Total = sum(List);
print("Sum of the list is ", Total)

Sum of the list is  161

In [29]:
#Q no 11

List = [25,42,10,9,75];
print("Largest num of the List is ", max(List))

Largest num of the List is  75

In [33]:
#Q no 12

List = [25,42,10,9,75];
for num in List:
 if num < 15:
    print(num)

10
9